p{
    border: 30px;
    border: 5px solid rgb(211, 84, 34);
    border-radius: 10px 10px;
    width: auto;
    padding: 40px;
    color:black;
    background-color: rgb(156, 245, 178);
    font: "American Typewriter, serif", "Georgia, serif", Times, Times New Roman, serif;
    font-size: 25px;
}
body .rick{
    text-align:left;
    margin-right: 900px;
    margin-top: 80px;
    height: 560px;
    padding-top:70px;
    padding-bottom:10px;
}
figure{
    text-align: center;
    background-color: rgb(180, 243, 196, 0.7);
    border: 1px lightgreen;
    margin-left:180px;
    margin-right:180px;
    border-radius: 30px 30px;
    padding-top: 20px;
}
img{
    border-radius: 20px 20px;
    border-top: 10px solid rgb(38, 202, 79);
    border-bottom: 10px solid rgb(38, 202, 79);
    border-left: 5px solid lightgreen;
    border-right: 5px solid lightgreen;
}
body .familia-tupfeln{
    float:right;
    margin-right: 600px;
    width: 275px;
    height: 275px;
}
body{
    text-align: center;
    background-image: url(img/background-verdepastel.jfif);
    
}
h1{
    font-size: 50px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px 15px;
}
h2{
    color:white; 
    font-size: 36px;
    padding: 6px;
    background:rgb(255, 64, 64);
    border-bottom: 5px solid rgb(121, 8, 0);
    border-top: 5px solid rgb(121, 8, 0);
    border-left: 5px solid rgb(255, 64, 64);
    border-right: 5px solid rgb(255, 64, 64);
}